<div class="game-summary">
  {{ if .Params.released }}
  <a href="{{ .RelPermalink }}" class="game-link">
  {{ end }}
    {{ if .Params.logo }}
    <div
      class="game-logo"
      style="-webkit-mask-image: url('{{ .RelPermalink }}{{ .Params.logo }}'); mask-image: url('{{ .RelPermalink }}{{ .Params.logo }}');"
    >
      <img
        src="{{ .RelPermalink }}{{ .Params.logo }}"
        alt="{{ .Title }}"
        loading="lazy"
      />
    </div>
    {{ else }}
    <div class="game-logo game-logo-placeholder">
      <div class="placeholder-icon">🎮</div>
    </div>
    {{ end }}
    {{ if not .Params.released }}
    <div class="coming-soon-label">COMING SOON</div>
    {{ end }}
  {{ if .Params.released }}
  </a>
  {{ end }}
</div>
