baseURL: "https://ritual.sh/"
title: ritual.sh
enableRobotsTXT: true
buildDrafts: false
buildFuture: false
buildExpired: false
enableEmoji: true

pagination:
  pagerSize: 5

minify:
  disableXML: true
  minifyOutput: true

frontmatter:
  lastmod:
    - lastmod
    - :git
    - date
    - publishDate

taxonomies:
  tag: tags

params:
  env: production

  label:
    text: "ritual"
    icon: /images/android-chrome-512x512.png
    iconImageHeight: 35
    iconHeight: 70

  fuseOpts:
    isCaseSensitive: false
    shouldSort: true
    location: 0
    distance: 1000
    threshold: 0.4
    minMatchCharLength: 0
    limit: 10
    keys: ["title", "permalink", "summary", "content"]

menu:
  main:
    - identifier: about
      name: about
      url: /about/
      weight: 5
    - identifier: gear
      name: gear & edc
      url: /gear/
      weight: 10
    - identifier: resources
      name: resources
      url: /resources/
      weight: 12
    - identifier: archives
      name: archives
      url: /archives/
      weight: 15
    - identifier: tags
      name: tags
      url: /tags/
      weight: 20

markup:
  highlight:
    noClasses: false
  # Fixed: Added goldmark renderer to allow raw HTML
  goldmark:
    renderer:
      unsafe: true
