baseURL: "https://ritual.sh/"
title: ritual.sh
enableRobotsTXT: true
buildDrafts: false
buildFuture: false
buildExpired: false
enableEmoji: true

# Fixed: Changed from 'paginate: 5' to pagination block
pagination:
  pagerSize: 5

minify:
  disableXML: true
  minifyOutput: true

frontmatter:
  lastmod:
    - lastmod
    - :git
    - date
    - publishDate

params:
  env: production

  label:
    text: "ritual"
    icon: /images/android-chrome-512x512.png
    iconImageHeight: 35
    iconHeight: 70

  profileMode:
    enabled: false
    title: ExampleSite
    subtitle: "This is subtitle"
    imageUrl: "<img location>"
    imageWidth: 120
    imageHeight: 120
    imageTitle: my image
    buttons:
      - name: Posts
        url: posts
      - name: Tags
        url: tags

  socialIcons:
    - name: instagram
      url: "https://www.instagram.com/ritualphotos"
    - name: mastodon
      url: "https://dice.camp/@ritual"
    - name: github
      url: "https://github.com/unbolt"
    - name: lastfm
      url: "https://www.last.fm/user/ritualplays"

  cover:
    hidden: false
    hiddenInList: true
    hiddenInSingle: false

  fuseOpts:
    isCaseSensitive: false
    shouldSort: true
    location: 0
    distance: 1000
    threshold: 0.4
    minMatchCharLength: 0
    limit: 10
    keys: ["title", "permalink", "summary", "content"]

menu:
  main:
    - identifier: about
      name: about
      url: /about/
      weight: 5
    - identifier: gear
      name: gear & edc
      url: /gear/
      weight: 10
    - identifier: archives
      name: archives
      url: /archives/
      weight: 15
    - identifier: tags
      name: tags
      url: /tags/
      weight: 20

pygmentsUseClasses: true

markup:
  highlight:
    noClasses: false
  # Fixed: Added goldmark renderer to allow raw HTML
  goldmark:
    renderer:
      unsafe: true

module:
  imports:
    - path: github.com/hugo-mods/lazyimg
