.buy-me-a-coffee {
    text-align: center;
    border-radius: var(--radius);
    background: var(--code-bg);
    border: 1px solid var(--border);

    background-color: var(--secondary);
    color: var(--tertiary);
    padding: var(--gap);
}

article a[href^="http"]:not(article .social-icons a, .paginav a, .buy-me-a-coffee a, .post-tags a, a.entry-link),
article a[href^="https://"]:not(article .social-icons a, .paginav a, .buy-me-a-coffee a, .post-tags a, a.entry-link)
{
    box-shadow: none;
    background: linear-gradient(to left, #c34722, #fdbb2d 100%);
    background-position: 0 100%;
    background-size: 100% 2px;
    background-repeat: repeat-x;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    gap: 14px;
}

.col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.photo {
    flex: 25%;

    img {
        border-radius: var(--radius);
    
    }
}

.intro-text {
    flex: 75%;
}