<div class="blog-post-card{{ if not (in .Params.tags "weeknote") }} non-weekly{{ end }}">
	<h1 class="blog-title">

		<a href="{{ .Permalink }}">
			{{ .Title }}
		</a>
	
		{{ if .Date }}
		<span class="blog-date">{{ .Date.Format "02-01-2006" }}</span>
		{{ end }}
	</h1>
	{{ if .Params.tags }}
	<div class="blog-tags-filter">
		<div class="tag-links">
		{{ range .Params.tags }}
			{{ $tagURL := printf "/tags/%s/" (. | urlize) }}
            <a href="{{ $tagURL }}" class="tag-filter-link">{{ . }}</a>
		{{ end }}
		</div> 
	</div>
	{{ end }}
	{{ if in .Params.tags "weeknote" }}
	<div class="blog-summary">
		{{ .Content }}
	</div>
	{{ else }}
	<div class="blog-summary">
		{{ .Summary }}

		<div class="read-more" >
			<a href="{{ .Permalink }}">Read More</a>
		</div>
		
	</div>
	{{ end }}
</div>
