{{ define "header" }}{{ partial "page-header.html" . }}{{ end }} {{ define
"main" }}
<article class="about-page">
  <div class="about-content">
    <div class="content-screen">
      <div class="about-header">{{ partial "elements/lavalamp.html" . }}</div>
      <div class="screen-display crt no-scroll">
        > about -v <br />
        <span>Name</span> / <span class="info">Dan (He/Him)</span><br />
        <span>Age</span> / <span class="info">40-something</span><br />
        <span>Location</span> / <span class="info">UK 🇬🇧</span><br /><br />
        <span>Interests</span> /
        <span class="info">
          Programming. Music. Movies. Tech. Photography. </span
        ><br />
        <span class="cursor-blink">_</span>
      </div>
    </div>

    <div class="info-badges random-rotation">
      {{ $likes := slice "LovingWifex1" "CrazyKidsx3" "labradorsx2" "Linux_User"
      "Developer" "PC_GAMING" "RETRO_TECH" "HOMELABBER"}} {{ range $likes }} {{
      partial "elements/lcd-screen.html" (dict "text" .) }} {{ end }}
    </div>

    <div class="wide-item manifesto-container">
      <div class="content-screen">
        <div class="screen-display crt">
          > cat manifesto
          <div style="display: flex; justify-content: center">
            <pre>
                                         
                          ▄▄                    
                         ██             █▄      
 ▄              ▄     ▀▀▄██▄           ▄██▄     
 ███▄███▄ ▄▀▀█▄ ████▄ ██ ██ ▄█▀█▄ ▄██▀█ ██ ▄███▄
 ██ ██ ██ ▄█▀██ ██ ██ ██ ██ ██▄█▀ ▀███▄ ██ ██ ██
▄██ ██ ▀█▄▀█▄██▄██ ▀█▄██▄██▄▀█▄▄▄█▄▄██▀▄██▄▀███▀
                         ██                     
                        ▀▀                      
        </pre
            >
          </div>

          <p>I hate being told what to do.</p>
          <p>
            That's about the long and the short of it. But if you want to know
            more...
          </p>
          <p>
            I grew up with the internet. I'm of the generation that saw the
            internet come into existence, when it was free, open and finding out
            what it could become. There was so much hope.
          </p>
          <p>
            Unfortunately what it has become is an algorithmic slopshop. I
            fucking hate it.
          </p>
          <p>
            During my formative years I chatted to people from all over the
            world, I found them through mutual interests, friends of friends of
            friends, and just spending time exploring. IRC, forums, and MSN
            messenger were our tools; building connections was our mission.
          </p>
          <p>
            The internet was so inspiring to me I studied it at college and
            university and it eventually became a prosperous career. I still
            work with the internet daily.
          </p>
          <p>
            Unfortunately, socially the internet has become a cesspit.
            Particularly in recent years. It's the cyberpunk dystopia of
            corporations telling us what to think, billionaires telling us what
            to feel, and politicians disregarding everyone.
          </p>
          <p>
            This website is meant to be a giant fuck you to web 2.0, social
            media, algorithms and anyone or anything that tells me what to think
            or feel.
          </p>
          <p>
            I want to get back the feeling of the early internet, with some
            amount of modernity thrown in.
          </p>
          <p>
            This is my space. Anyone is welcome to hang out if you bring good
            vibes.
          </p>
          <span class="cursor-blink">_</span>
        </div>
      </div>
      <div class="manifesto-floppy">
        {{ partial "elements/floppy.html" (dict "title" "They're spying on you"
        "lines" (slice "" "" "run truth.exe" "" "") "bgColor" "#1a4d8f"
        "bgColorDark" "#0d2747") }}
      </div>
    </div>

    <div class="content-screen">
      <div class="screen-display crt no-scroll">
        > ./hardware -main <br />
        PC /
        <span class="info">Ryzen 7 9800X3D, Radeon RX 7900 XTX, 64gb RAM</span>
        / <span class="warning">Bazzite &bull; kitty &bull; KDE Plasma</span
        ><br />
        Camera / <span class="info">Fuji X-T5</span><br />
        Audio / <span class="info">Hiby R4 EVA, Fiio FT-1</span> <br /><br />
        More info coming soon...
        <br /><span class="cursor-blink">_</span>
      </div>
    </div>
  </div>
</article>
{{ end }}
