<div class="companion-cube-container">
  <div class="companion-cube-face">

    <div class="grey-bar horizontal-top"></div>
    <div class="grey-bar horizontal-bottom"></div>
    <div class="grey-bar vertical-left"></div>
    <div class="grey-bar vertical-right"></div>


    <div class="cube-center-circle">

      <div class="pink-bar vertical"></div>
      <div class="pink-bar horizontal"></div>
   
      <div class="center-inner-ring"></div>

      <div class="heart-icon">♥︎</div>
    </div>
  </div>
</div>
