<!-- prettier-ignore -->
{{ $terminalShell := resources.Get "js/terminal.js" }}
{{ $init := resources.Get "js/init.js" }}
{{ $commandFiles := resources.Match "js/commands/*.js" }}
{{ $subfolderFiles := resources.Match "js/*/*.js" }}
{{ $remaining := resources.Match "js/*.js" }}
{{ $filtered := slice }}
{{ range $remaining }}
  {{ $path := .RelPermalink }}
  {{ if and (not (strings.Contains $path "/terminal.js")) (not (strings.Contains $path "/init.js")) }}
    {{ $filtered = $filtered | append . }}
  {{ end }}
{{ end }}
{{ $allFiles := slice $terminalShell | append $filtered | append $init | append $commandFiles | append $subfolderFiles }}
{{ $terminalBundle := $allFiles | resources.Concat "js/terminal-bundle.js" | resources.Minify | resources.Fingerprint }}
<!-- prettier-ignore-end -->
<script
  src="{{ $terminalBundle.RelPermalink }}"
  integrity="{{ $terminalBundle.Data.Integrity }}"
></script>
