footer[role="contentinfo"] {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10000;
  background: #000;
  color: #0f0;
  padding: 5px;
  text-align: center;
  font-family: monospace;
  border-top: 1px solid #0f0;
  border-left: 1px solid #0f0;
  border-top-left-radius: 5px;

  @include media-down(lg) {
    display: none;
  }

  a {
    color: #0f0;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
