.nowplayingcard {
  margin: auto;
}

.nowplayingcontainer-inner {
  transition: 0.3s;
  display: inline-flex;

  .trackInfo {
    width: 100%;
  }

  #album {
    display: none;
  }
}

img#trackart {
  transition: 0.3s;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(60%);
}

img#trackart[src=""] {
  display: none;
}
