.about-page {
  color: white;
  margin: auto;

  > .about-content {
    width: 50%;
    margin: auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;

    > .wide-item {
      grid-column: 1 / -1;
    }

    > .about-header {
      text-align: center;
    }

    > .manifesto-container {
      position: relative;
      > .manifesto-floppy {
        position: absolute;
        right: -50px;
        top: -20px;
        width: 150px;
        transform: rotate(5deg);
      }
    }
  }
}

@media (max-width: 800px) {
  .about-page > .about-content {
    width: 100%;

    > .manifesto-container {
      > .manifesto-floppy {
        width: 75px;
        top: -10px;
        right: -20px;
      }
    }
  }
}
