.about-page {
  color: white;
  margin: auto;

  > .about-content {
    width: 50%;
    margin: auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;

    > .wide-item {
      grid-column: 1 / -1;
    }

    .about-header {
      position: absolute;
      left: -80px;
      bottom: 0px;
      text-align: center;
    }

    .lava-lamp-container {
      position: relative;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transform: rotate(-5deg);

      width: 100px;
      height: 180px;

      .lamp-text {
        font-size: 30px;
        color: rgba(224, 27, 36, 0.7);
      }
    }

    > .info-badges {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      align-items: start;
      align-content: start;
    }

    > .manifesto-container {
      position: relative;
      > .manifesto-floppy {
        position: absolute;
        right: -50px;
        top: -20px;
        width: 150px;
        transform: rotate(5deg);
      }
    }
  }
}

.digital {
  font-family: "DSEG14-Classic";
  text-transform: uppercase;
}

@media (max-width: 800px) {
  .about-page > .about-content {
    width: 100%;

    > .manifesto-container {
      > .manifesto-floppy {
        width: 75px;
        top: -10px;
        right: -20px;
      }
    }
  }
}
