.log-page-container {
  width: 900px;
  height: 100vh;
  margin: auto;

  .log-header {
    margin: auto;

    pre {
      text-align: center;
      background: linear-gradient(to bottom, #00aa00, #eeff00);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      margin-bottom: 1rem;
    }
  }

  .log-content {
    margin: auto;

    .crt-monitor {
      margin: auto;
      width: 100%;
      height: auto;
      aspect-ratio: 1.3/1;

      .content.crt {
        padding: 1.2rem;
        font-size: 1.2rem;

        p {
          margin: auto;
          margin-bottom: 1.2rem;
        }

        .log-updates {
          // display as 2 columns, date then content
          display: grid;
          grid-template-columns: auto auto 1fr;
          column-gap: 1rem;
          margin-bottom: 1rem;
          line-height: 1.5rem;
          .log-date {
            font-weight: bold;
            text-align: right;
          }
          div {
            margin-bottom: 0.5rem;
          }
          p {
            margin: 0;
            text-align: left;
            max-width: 700px;
          }
        }
      }
    }
  }
}
